version: '3'

services:
  payload:
    image: node:20-alpine
    ports:
      - '3000:3000'
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    working_dir: /home/node/app/
    #command: sh -c "corepack enable && corepack prepare pnpm@latest --activate && pnpm install && pnpm dev"
    command: sh -c "corepack enable && corepack prepare pnpm@latest --activate && pnpm install && node --max-old-space-size=512 node_modules/.bin/payload dev"
    env_file:
      - .env
    environment:
      - DATABASE_URI=file:./playground.db

  # postgres service removed for SQLite usage

  caddy:
    image: caddy:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - payload

volumes:
  # pgdata volume removed as it is no longer needed
  node_modules:
  caddy_data:
  caddy_config: